.version.anatomy /* version checker */
{
	color: #000019;
	background-color: #97C32C;
}

.html
{
	background-color: #E7EDE1;
}

#page
{
	z-index: 1;
	width: 916px;
	min-height: 468px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 22px 20px;
}

#pu105
{
	width: 0.01px;
}

#u105
{
	z-index: 2;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 12;
	width: 389px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 369px;
}

#u148
{
	width: 76px;
	min-height: 27px;
	margin-right: -10000px;
}

#u151
{
	width: 76px;
	padding-bottom: 5px;
}

#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u152-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 15px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 99px;
	min-height: 27px;
	margin-right: -10000px;
	left: 78px;
}

#u156
{
	width: 99px;
	padding-bottom: 5px;
}

#u159-4
{
	width: 70px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u151.MuseMenuActive #u152-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 106px;
	min-height: 27px;
	margin-right: -10000px;
	left: 179px;
}

#u623
{
	width: 106px;
	padding-bottom: 5px;
}

#u626-4
{
	width: 77px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u156.MuseMenuActive #u159-4,#u623:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u623:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 102px;
	min-height: 27px;
	margin-right: -10000px;
	left: 287px;
}

#u183
{
	width: 102px;
	padding-bottom: 5px;
}

#u151.MuseMenuActive,#u156.MuseMenuActive,#u623.MuseMenuActive,#u183.MuseMenuActive
{
	margin: 0px;
}

#u185-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u623.MuseMenuActive #u626-4,#u183:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183.MuseMenuActive #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1166-4
{
	z-index: 41;
	width: 64px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 760px;
}

#u1166-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u1166-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4
{
	z-index: 37;
	width: 92px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 824px;
}

#u1166-4.MuseLinkActive,#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u765-4
{
	z-index: 105;
	width: 292px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 20px;
	position: relative;
}

#u809-4
{
	z-index: 57;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 6px;
	position: relative;
}

#ppu760-6
{
	width: 0.01px;
	margin-top: -8px;
}

#pu760-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 43px;
}

#u760-6
{
	z-index: 51;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u761-16
{
	z-index: 61;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 47px;
	position: relative;
}

#u762-6
{
	z-index: 77;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 53px;
	position: relative;
}

#u763-16
{
	z-index: 83;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 53px;
	position: relative;
}

#u764-6
{
	z-index: 99;
	width: 448px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 59px;
	position: relative;
}

#u760-2,#u761-2,#u762-2,#u763-2,#u764-2
{
	font-weight: 700;
}

#u803
{
	z-index: 45;
	width: 180px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
	left: 646px;
}

#u804
{
	z-index: 46;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
	margin-top: 296px;
	left: 646px;
}

#u805
{
	z-index: 47;
	width: 180px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
}

#u806
{
	z-index: 48;
	width: 180px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
	margin-top: 507px;
	left: 650px;
}

#u807
{
	z-index: 49;
	width: 180px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
	margin-top: 713px;
	left: 646px;
}

#u808
{
	z-index: 50;
	width: 180px;
	height: 6px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	position: relative;
	margin-right: -10000px;
	margin-top: 926px;
	left: 650px;
}

#u766
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-bottom: -16px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 774px;
}

#u769
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 462px;
}

#u779
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 462px;
}

#u785
{
	z-index: 115;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 407px;
	left: 462px;
}

#u791
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 613px;
	left: 462px;
}

#u797
{
	z-index: 119;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 826px;
	left: 462px;
}

#u111-4
{
	z-index: 4;
	width: 346px;
	min-height: 22px;
	margin-left: 285px;
	margin-top: 57px;
}

#u115-4
{
	z-index: 8;
	width: 212px;
	min-height: 15px;
	margin-left: 352px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

