.version.faqs /* version checker */
{
	color: #00001E;
	background-color: #E06FBC;
}

.html
{
	background-color: #E7EDE1;
}

#page
{
	z-index: 1;
	width: 916px;
	min-height: 467.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 22px 20.09999999999991px;
}

#pu105
{
	width: 0.01px;
}

#u105
{
	z-index: 2;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 12;
	width: 410px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 401px;
}

#u148
{
	width: 81px;
	min-height: 27px;
	margin-right: -10000px;
}

#u151
{
	width: 81px;
	padding-bottom: 5px;
}

#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u152-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 103px;
	min-height: 27px;
	margin-right: -10000px;
	left: 83px;
}

#u156
{
	width: 103px;
	padding-bottom: 5px;
}

#u159-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151.MuseMenuActive #u152-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 112px;
	min-height: 27px;
	margin-right: -10000px;
	left: 188px;
}

#u623
{
	width: 112px;
	padding-bottom: 5px;
}

#u626-4
{
	width: 77px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u156.MuseMenuActive #u159-4,#u623:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u623:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 302px;
}

#u183
{
	width: 108px;
	padding-bottom: 5px;
}

#u151.MuseMenuActive,#u156.MuseMenuActive,#u623.MuseMenuActive,#u183.MuseMenuActive
{
	margin: 0px;
}

#u185-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u623.MuseMenuActive #u626-4,#u183:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183.MuseMenuActive #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u977-4
{
	z-index: 37;
	width: 96px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 820px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#ppu711-4
{
	width: 0.01px;
	margin-top: 52px;
}

#pu711-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u711-4
{
	z-index: 95;
	width: 448px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u710-52
{
	z-index: 43;
	width: 448px;
	min-height: 474px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u710-2,#u710-8,#u710-14,#u710-20,#u710-26,#u710-32,#u710-38,#u710-44
{
	line-height: 22px;
	font-weight: 700;
}

#u710-3,#u710-5,#u710-6,#u710-9,#u710-11,#u710-12,#u710-15,#u710-17,#u710-18,#u710-21,#u710-23,#u710-24,#u710-27,#u710-29,#u710-30,#u710-33,#u710-35,#u710-36,#u710-39,#u710-41,#u710-42,#u710-45,#u710-47,#u710-48,#u710-49
{
	line-height: 22px;
}

#pu831
{
	width: 0.01px;
	margin: -5px -10000px -41px 612px;
}

#u831
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1002
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-top: 13px;
	position: relative;
}

#u1001-4
{
	z-index: 101;
	width: 292px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-style: italic;
	margin-left: 12px;
	top: -29px;
	margin-bottom: -29px;
	position: relative;
}

#u1001-2
{
	font-size: 18px;
}

#u704
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-top: 87px;
	position: relative;
}

#u111-4
{
	z-index: 4;
	width: 346px;
	min-height: 22px;
	margin-left: 285px;
	margin-top: 58px;
}

#u115-4
{
	z-index: 8;
	width: 212px;
	min-height: 15px;
	margin-left: 352px;
	margin-top: 17px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

