.Bulleted-List,.Paragraph-Style
{
	font-family: source-sans-pro-n4, sans-serif;
}

.Heading-1
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u152-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u159-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u626-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u185-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1166-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u977-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u111-4,#u115-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1043-2,#u1043-5,#u1140-2,#u1140-5,#u1140-17,#u1140-37,#u1140-45,#u1141-2,#u1141-3
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1043-3,#u1043-7,#u1043-8,#u1043-14,#u1043-15,#u1043-17,#u1043-19,#u1043-22,#u1043-24,#u1043-26,#u1043-30,#u1043-32,#u1140-3,#u1140-9,#u1140-11,#u1140-13,#u1140-15,#u1140-23,#u1140-29,#u1140-33,#u1140-35,#u1140-39,#u1140-41,#u1140-43,#u1140-47,#u1140-49,#u1140-51,#u1141-5,#u1139-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

