.Bulleted-List
{
	font-family: source-sans-pro-n4, sans-serif;
}

.Paragraph-Style,.Heading-1,.Nav-Head,.Heading-2
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2127-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2835-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6905-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4909-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u7010-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4712-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u977-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3642-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4708-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3642-4:hover p,#u4708-4:hover p,#u4707-4:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u4707-4:active p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u4707-4.MuseLinkActive p,#u4707-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5998-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5998-4:hover p,#u3644-4:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u3644-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u115-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5992-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5992-4:hover p,#u5991-4:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u5991-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

