.Bulleted-List,.Paragraph-Style
{
	font-family: source-sans-pro-n4, sans-serif;
}

.Heading-1
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u152-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u159-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u626-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u185-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u977-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u111-4,#u115-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

