.version.index /* version checker */
{
	color: #000010;
	background-color: #79D468;
}

.html
{
	background-color: #E7EDE1;
}

#page
{
	z-index: 1;
	width: 936px;
	min-height: 467.956779661017px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 11px 20.04322033898302px 13px;
}

#pu105
{
	width: 0.01px;
	margin-left: 9px;
}

#u105
{
	z-index: 2;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 12;
	width: 389px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 369px;
}

#u148
{
	width: 76px;
	min-height: 27px;
	margin-right: -10000px;
}

#u151
{
	width: 76px;
	padding-bottom: 5px;
}

#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u152-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 15px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 99px;
	min-height: 27px;
	margin-right: -10000px;
	left: 78px;
}

#u156
{
	width: 99px;
	padding-bottom: 5px;
}

#u159-4
{
	width: 70px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u151.MuseMenuActive #u152-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 106px;
	min-height: 27px;
	margin-right: -10000px;
	left: 179px;
}

#u623
{
	width: 106px;
	padding-bottom: 5px;
}

#u626-4
{
	width: 77px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u156.MuseMenuActive #u159-4,#u623:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u623:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 102px;
	min-height: 27px;
	margin-right: -10000px;
	left: 287px;
}

#u183
{
	width: 102px;
	padding-bottom: 5px;
}

#u151.MuseMenuActive,#u156.MuseMenuActive,#u623.MuseMenuActive,#u183.MuseMenuActive
{
	margin: 0px;
}

#u185-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 14px;
}

#u623.MuseMenuActive #u626-4,#u183:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183.MuseMenuActive #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u1166-4
{
	z-index: 41;
	width: 64px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 760px;
}

#u1166-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u1166-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4
{
	z-index: 37;
	width: 92px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 824px;
}

#u1166-4.MuseLinkActive,#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#slideshowu196
{
	z-index: 45;
	width: 0.01px;
	height: 655px;
	margin-top: 20px;
	position: relative;
}

#u221
{
	position: absolute;
	width: 915px;
	height: 611px;
	background-color: transparent;
	left: 10px;
}

#u221popup
{
	z-index: 46;
}

#u897
{
	z-index: 47;
	width: 915px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u943
{
	z-index: 49;
	width: 915px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u952
{
	z-index: 51;
	width: 915px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u961
{
	z-index: 53;
	width: 915px;
	height: 611px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u897_clip,#u943_clip,#u952_clip,#u961_clip
{
	overflow: hidden;
	width: 915px;
	height: 611px;
}

#u897_img,#u943_img,#u952_img,#u961_img
{
	margin-left: -1px;
}

#u219-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 615px;
}

#u219-4popup
{
	z-index: 55;
}

#u198-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 615px;
	left: 906px;
}

#u198-4popup
{
	z-index: 59;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu462-17
{
	width: 0.01px;
	margin-left: 9px;
	margin-top: 9px;
}

#u462-17
{
	z-index: 65;
	width: 571px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
}

#u462-12
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u462
{
	font-size: 36px;
	color: #68951C;
	font-weight: 700;
	line-height: 50px;
}

#u462-4
{
	color: #68951C;
	line-height: 25px;
}

#u462-3,#u462-5,#u462-7
{
	color: #68951C;
	font-weight: 700;
	line-height: 25px;
}

#u462-9
{
	font-size: 30px;
	color: #68951C;
	font-weight: 700;
	line-height: 42px;
}

#u462-10
{
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
}

#u462-2,#u462-6,#u462-8,#u462-11
{
	line-height: 25px;
}

#u462-13
{
	line-height: 22px;
}

#u462-15
{
	text-align: right;
	line-height: 22px;
	font-style: italic;
}

#u456
{
	z-index: 63;
	display: block;
	vertical-align: top;
	margin-bottom: -41px;
	position: relative;
	margin-right: -10000px;
	margin-top: -11px;
	left: 612px;
}

#u111-4
{
	z-index: 4;
	width: 346px;
	min-height: 22px;
	margin-left: 294px;
	margin-top: 58px;
}

#u115-4
{
	z-index: 8;
	width: 212px;
	min-height: 15px;
	margin-left: 361px;
	margin-top: 17px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

