.version.jobs /* version checker */
{
	color: #0000E9;
	background-color: #16693F;
}

.html
{
	background-color: #F3F3F3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 486px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
}

#pjobs-top
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#jobs-top
{
	margin-left: 932px;
	position: relative;
}

#pu105
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -2px;
}

#u105
{
	z-index: 22;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 28;
	width: 408px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 222px;
}

#u2123
{
	width: 106px;
	min-height: 29px;
	margin-right: -10000px;
}

#u2124
{
	width: 106px;
	padding-bottom: 7px;
}

#u2124:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2127-4
{
	width: 65px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2124:hover #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124:active #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124.MuseMenuActive #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2832
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	left: 108px;
}

#u2833
{
	width: 109px;
	padding-bottom: 7px;
}

#u2833:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2835-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2833:hover #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833:active #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833.MuseMenuActive #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u6902
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	left: 219px;
}

#u6903
{
	width: 83px;
	padding-bottom: 7px;
}

#u6903:hover
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903:active
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6905-4
{
	width: 42px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u6903:hover #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903:active #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903.MuseMenuActive #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u4905
{
	width: 104px;
	min-height: 29px;
	margin-right: -10000px;
	left: 304px;
}

#u4906
{
	width: 104px;
	padding-bottom: 7px;
}

#u4906:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906:active
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4909-4
{
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u4906:hover #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906:active #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906.MuseMenuActive #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u7010-4
{
	z-index: 61;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 658px;
}

#u7010-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u7010-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4
{
	z-index: 57;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 747px;
}

#u7010-4.MuseLinkActive,#u4712-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u977-4
{
	z-index: 53;
	width: 95px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 821px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#pu3700
{
	width: 0.01px;
	margin-top: 26px;
}

#u3700
{
	z-index: 67;
	width: 916px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F4FB;
	position: relative;
	margin-right: -10000px;
	padding: 8px 22px 17.299999999999955px;
}

#pu3699-4
{
	width: 0.01px;
}

#u3699-4
{
	z-index: 131;
	width: 136px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
}

#u6000-4
{
	z-index: 135;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 757px;
}

#u6000-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 3px -10000px 0px 0px;
}

#u6001
{
	z-index: 139;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 888px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u6001:hover
{
	width: 28px;
	height: 28px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#u3701-63
{
	z-index: 68;
	width: 916px;
	min-height: 796px;
	background-color: #F2F4FB;
	line-height: 22px;
	margin-top: 18px;
	position: relative;
}

#u3701-2
{
	font-weight: 300;
}

#u3701-32,#u3701-40,#u3701-52
{
	counter-reset: list0;
}

#u3701-32 > li:before,#u3701-40 > li:before,#u3701-52 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u3701-32 .list1,#u3701-40 .list1,#u3701-52 .list1
{
	counter-reset: list1;
}

#u3701-32 .list1 > li:before,#u3701-40 .list1 > li:before,#u3701-52 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u3701-32 .list2,#u3701-40 .list2,#u3701-52 .list2
{
	counter-reset: list2;
}

#u3701-32 .list2 > li:before,#u3701-40 .list2 > li:before,#u3701-52 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u3701-32 .list3,#u3701-40 .list3,#u3701-52 .list3
{
	counter-reset: list3;
}

#u3701-32 .list3 > li:before,#u3701-40 .list3 > li:before,#u3701-52 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u3701-32 .list4,#u3701-40 .list4,#u3701-52 .list4
{
	counter-reset: list4;
}

#u3701-32 .list4 > li:before,#u3701-40 .list4 > li:before,#u3701-52 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u3701-32 .list5,#u3701-40 .list5,#u3701-52 .list5
{
	counter-reset: list5;
}

#u3701-32 .list5 > li:before,#u3701-40 .list5 > li:before,#u3701-52 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u3701-32 .list6,#u3701-40 .list6,#u3701-52 .list6
{
	counter-reset: list6;
}

#u3701-32 .list6 > li:before,#u3701-40 .list6 > li:before,#u3701-52 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u3701-32 .list7,#u3701-40 .list7,#u3701-52 .list7
{
	counter-reset: list7;
}

#u3701-32 .list7 > li:before,#u3701-40 .list7 > li:before,#u3701-52 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u3701-32 .list8,#u3701-40 .list8,#u3701-52 .list8
{
	counter-reset: list8;
}

#u3701-32 .list8 > li:before,#u3701-40 .list8 > li:before,#u3701-52 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#jobs-bottom
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 957px;
	left: 938px;
}

#u6004
{
	z-index: 142;
	width: 29px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 909px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u6004:hover
{
	width: 29px;
	height: 27px;
	min-height: 0px;
	margin: 930px -10000px 0px 0px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#u6005-4
{
	z-index: 143;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 933px;
	left: 774px;
}

#u6005-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 933px -10000px 0px 0px;
}

#u6000-4:hover p,#u6005-4:hover p
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u3642-4
{
	z-index: 2;
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 1102px;
	left: 22px;
}

#u3642-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 88px;
	margin: 1102px -10000px 0px 0px;
}

#u4708-4
{
	z-index: 14;
	width: 128px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 1102px;
	left: 149px;
}

#u4708-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 128px;
	margin: 1102px -10000px 0px 0px;
}

#u4707-4
{
	z-index: 6;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 1102px;
	left: 311px;
}

#u4707-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 1102px -10000px 0px 0px;
}

#u4707-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 1102px -10000px 0px 0px;
}

#u5998-4
{
	z-index: 10;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 1102px;
	left: 438px;
}

#u4707-4.MuseLinkActive,#u5998-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 1102px -10000px 0px 0px;
}

#u3644-4
{
	z-index: 18;
	width: 156px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 1102px;
	left: 544px;
}

#u3644-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 156px;
	margin: 1102px -10000px 0px 0px;
}

#pu4537
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1089px;
	margin-left: 726px;
}

#u4537
{
	z-index: 65;
	width: 111px;
	margin-left: 101px;
}

#u115-4
{
	z-index: 24;
	width: 212px;
	min-height: 18px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1089px;
}

