.version.privacy /* version checker */
{
	color: #000014;
	background-color: #BFA54B;
}

.html
{
	background-color: #F3F3F3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 486px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: #FFFFFF;
	border-radius: 5px;
	padding-bottom: 14px;
	margin-left: auto;
	margin-right: auto;
}

#pprivacy-top
{
	width: 0.01px;
	margin-right: -10000px;
}

#privacy-top
{
	margin-left: 938px;
	position: relative;
}

#pu105
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -2px;
}

#u105
{
	z-index: 22;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 28;
	width: 408px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 222px;
}

#u2123
{
	width: 106px;
	min-height: 29px;
	margin-right: -10000px;
}

#u2124
{
	width: 106px;
	padding-bottom: 7px;
}

#u2124:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2127-4
{
	width: 65px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2124:hover #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124:active #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124.MuseMenuActive #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2832
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	left: 108px;
}

#u2833
{
	width: 109px;
	padding-bottom: 7px;
}

#u2833:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2835-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2833:hover #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833:active #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833.MuseMenuActive #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u6902
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	left: 219px;
}

#u6903
{
	width: 83px;
	padding-bottom: 7px;
}

#u6903:hover
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903:active
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6905-4
{
	width: 42px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u6903:hover #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903:active #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903.MuseMenuActive #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u4905
{
	width: 104px;
	min-height: 29px;
	margin-right: -10000px;
	left: 304px;
}

#u4906
{
	width: 104px;
	padding-bottom: 7px;
}

#u4906:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906:active
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4909-4
{
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u4906:hover #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906:active #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906.MuseMenuActive #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u7010-4
{
	z-index: 61;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 658px;
}

#u7010-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u7010-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4
{
	z-index: 57;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 747px;
}

#u7010-4.MuseLinkActive,#u4712-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u977-4
{
	z-index: 53;
	width: 95px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 821px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#pu4902
{
	width: 0.01px;
	margin-top: 27px;
}

#u4902
{
	z-index: 67;
	width: 917px;
	background-color: #E6E6E6;
	position: relative;
	margin-right: -10000px;
	padding: 8px 21px 21px 22px;
}

#pu4705-4
{
	width: 0.01px;
}

#u4705-4
{
	z-index: 233;
	width: 206px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u5939-4
{
	z-index: 237;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 755px;
}

#u5939-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 2px -10000px 0px 0px;
}

#u5940
{
	z-index: 241;
	width: 29px;
	height: 29px;
	position: relative;
	margin-right: -10000px;
	left: 888px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u5940:hover
{
	width: 29px;
	height: 29px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#u4703-165
{
	z-index: 68;
	width: 916px;
	min-height: 4568px;
	border-style: none;
	background-color: transparent;
	line-height: 22px;
	margin-top: 26px;
	position: relative;
}

#bottom-privacy
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 4567px;
	left: 916px;
}

#u5946-4
{
	z-index: 243;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 4613px;
	left: 782px;
}

#u5946-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 4613px -10000px 0px 0px;
}

#u5939-4:hover p,#u5946-4:hover p
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5954
{
	z-index: 247;
	width: 32px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4608px;
	left: 914px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u5954:hover
{
	width: 32px;
	height: 34px;
	min-height: 0px;
	margin: 4608px -10000px 0px 0px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#u3642-4
{
	z-index: 2;
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 4783px;
	left: 22px;
}

#u3642-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 88px;
	margin: 4783px -10000px 0px 0px;
}

#u4708-4
{
	z-index: 14;
	width: 128px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 4783px;
	left: 149px;
}

#u4708-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 128px;
	margin: 4783px -10000px 0px 0px;
}

#u4707-4
{
	z-index: 6;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 4783px;
	left: 311px;
}

#u4707-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 4783px -10000px 0px 0px;
}

#u4707-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 4783px -10000px 0px 0px;
}

#u5998-4
{
	z-index: 10;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 4783px;
	left: 438px;
}

#u4707-4.MuseLinkActive,#u5998-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 4783px -10000px 0px 0px;
}

#u3644-4
{
	z-index: 18;
	width: 156px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 4783px;
	left: 544px;
}

#u3644-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 156px;
	margin: 4783px -10000px 0px 0px;
}

#pu4537
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4770px;
	margin-left: 726px;
}

#u4537
{
	z-index: 65;
	width: 111px;
	margin-left: 101px;
}

#u115-4
{
	z-index: 24;
	width: 212px;
	min-height: 18px;
	margin-top: 5px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -4769px;
}

