.version.products /* version checker */
{
	color: #00000F;
	background-color: #CAA24C;
}

.html
{
	background-color: #E7EDE1;
}

#page
{
	z-index: 1;
	width: 916px;
	min-height: 459.79111111111115px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
	padding: 20px 22px 20.20888888888885px;
}

#pu105
{
	width: 0.01px;
}

#u105
{
	z-index: 2;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 12;
	width: 452px;
	margin-right: -10000px;
	left: 364px;
}

#u148
{
	width: 87px;
	min-height: 27px;
	margin-right: -10000px;
}

#u151
{
	width: 87px;
	padding-bottom: 5px;
}

#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u152-4
{
	width: 52px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 115px;
	min-height: 27px;
	margin-right: -10000px;
	left: 89px;
}

#u156
{
	width: 115px;
	padding-bottom: 5px;
}

#u159-4
{
	width: 80px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151.MuseMenuActive #u152-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 126px;
	min-height: 27px;
	margin-right: -10000px;
	left: 206px;
}

#u623
{
	width: 126px;
	padding-bottom: 5px;
}

#u626-4
{
	width: 91px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u156.MuseMenuActive #u159-4,#u623:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u623:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 118px;
	min-height: 27px;
	margin-right: -10000px;
	left: 334px;
}

#u183
{
	width: 118px;
	padding-bottom: 5px;
}

#u151.MuseMenuActive,#u156.MuseMenuActive,#u623.MuseMenuActive,#u183.MuseMenuActive
{
	margin: 0px;
}

#u185-4
{
	width: 83px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u623.MuseMenuActive #u626-4,#u183:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183.MuseMenuActive #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u977-4
{
	z-index: 37;
	width: 96px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 816px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 1px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 1px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 1px -10000px 0px 0px;
}

#u824-4
{
	z-index: 57;
	width: 292px;
	min-height: 28px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 45px;
	position: relative;
}

#pu810
{
	width: 0.01px;
	margin: -6px -10000px -7px -6px;
}

#u810
{
	z-index: 41;
	position: relative;
}

#u817
{
	z-index: 55;
	margin-top: 12px;
	position: relative;
}

#pu816-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 156px;
}

#u816-4
{
	z-index: 43;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u823-4
{
	z-index: 47;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 127px;
	position: relative;
}

#u978
{
	z-index: 67;
	display: block;
	vertical-align: top;
	margin-bottom: -41px;
	position: relative;
	margin-right: -10000px;
	margin-top: -11px;
	left: 456px;
}

#ppu810,#pu882
{
	width: 0.01px;
	margin-top: 23px;
}

#u882
{
	z-index: 61;
	margin-bottom: -16px;
	position: relative;
	width: 158px;
	margin-right: -10000px;
	margin-top: -6px;
	left: -6px;
}

#u810_img,#u817_img,#u882_img
{
	display: block;
	vertical-align: top;
}

#u881-4
{
	z-index: 51;
	width: 136px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 156px;
}

#u974-4
{
	z-index: 63;
	width: 292px;
	min-height: 81px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 624px;
}

#u111-4
{
	z-index: 4;
	width: 346px;
	min-height: 22px;
	margin-left: 285px;
	margin-top: 58px;
}

#u115-4
{
	z-index: 8;
	width: 212px;
	min-height: 15px;
	margin-left: 352px;
	margin-top: 17px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

