.version.products /* version checker */
{
	color: #0000E1;
	background-color: #75E90A;
}

.html
{
	background-color: #F3F3F3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: #FFFFFF;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 14px;
	width: 0.01px;
}

#product-top
{
	margin-left: 938px;
	position: relative;
}

#pu105
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: -2px;
}

#u105
{
	z-index: 22;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 28;
	width: 408px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 222px;
}

#u2123
{
	width: 106px;
	min-height: 29px;
	margin-right: -10000px;
}

#u2124
{
	width: 106px;
	padding-bottom: 7px;
}

#u2124:hover
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124:active
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2124.MuseMenuActive
{
	width: 106px;
	min-height: 0px;
	margin: 0px;
}

#u2127-4
{
	width: 65px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2124:hover #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124:active #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2124.MuseMenuActive #u2127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px 0px 0px;
}

#u2832
{
	width: 109px;
	min-height: 29px;
	margin-right: -10000px;
	left: 108px;
}

#u2833
{
	width: 109px;
	padding-bottom: 7px;
}

#u2833:hover
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833:active
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2833.MuseMenuActive
{
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u2835-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u2833:hover #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833:active #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u2833.MuseMenuActive #u2835-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u6902
{
	width: 83px;
	min-height: 29px;
	margin-right: -10000px;
	left: 219px;
}

#u6903
{
	width: 83px;
	padding-bottom: 7px;
}

#u6903:hover
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903:active
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6903.MuseMenuActive
{
	width: 83px;
	min-height: 0px;
	margin: 0px;
}

#u6905-4
{
	width: 42px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u6903:hover #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903:active #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u6903.MuseMenuActive #u6905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u4905
{
	width: 104px;
	min-height: 29px;
	margin-right: -10000px;
	left: 304px;
}

#u4906
{
	width: 104px;
	padding-bottom: 7px;
}

#u4906:hover
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906:active
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4906.MuseMenuActive
{
	width: 104px;
	min-height: 0px;
	margin: 0px;
}

#u4909-4
{
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	top: 3px;
	left: 20px;
}

#u4906:hover #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906:active #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u4906.MuseMenuActive #u4909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 63px;
	margin: 0px -10000px 0px 0px;
}

#u7010-4
{
	z-index: 61;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 658px;
}

#u7010-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u7010-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4
{
	z-index: 57;
	width: 69px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 747px;
}

#u7010-4.MuseLinkActive,#u4712-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u4712-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 69px;
	margin: 23px -10000px 0px 0px;
}

#u977-4
{
	z-index: 53;
	width: 95px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 821px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 95px;
	margin: 23px -10000px 0px 0px;
}

#u2884
{
	z-index: 68;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #E7EDE1;
	padding-bottom: 6px;
	margin-top: 27px;
	position: relative;
}

#u5933
{
	z-index: 309;
	width: 26px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 22px;
	background: transparent url("../images/down%20arrow%20psd-u5933-fr.png") no-repeat left top;
	background-size: contain;
}

#u5855-4
{
	z-index: 292;
	width: 81px;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 56px;
}

#u5936
{
	z-index: 310;
	width: 26px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 178px;
	background: transparent url("../images/down%20arrow%20psd-u5933-fr.png") no-repeat left top;
	background-size: contain;
}

#u5856-4
{
	z-index: 296;
	width: 81px;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 214px;
}

#u5855-4:hover,#u5856-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 81px;
	margin: 11px -10000px 0px 0px;
}

#u5935
{
	z-index: 312;
	width: 26px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 334px;
	background: transparent url("../images/down%20arrow%20psd-u5933-fr.png") no-repeat left top;
	background-size: contain;
}

#u5857-4
{
	z-index: 300;
	width: 116px;
	min-height: 38px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 370px;
}

#u5857-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 116px;
	margin: 11px -10000px 0px 0px;
}

#u5934
{
	z-index: 311;
	width: 26px;
	height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 508px;
	background: transparent url("../images/down%20arrow%20psd-u5933-fr.png") no-repeat left top;
	background-size: contain;
}

#u5933:hover,#u5936:hover,#u5935:hover,#u5934:hover
{
	width: 26px;
	height: 26px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
	background: transparent url("../images/down%20arrow%20psd-u5933-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u5858-4
{
	z-index: 304;
	width: 104px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 543px;
}

#u5858-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 104px;
	margin: 10px -10000px 0px 0px;
}

#u5959-4
{
	z-index: 316;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 777px;
}

#u5959-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 9px -10000px 0px 0px;
}

#u5960
{
	z-index: 320;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 910px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u5960:hover
{
	width: 28px;
	height: 28px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
	background: transparent url("../images/down%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#pu6256
{
	width: 0.01px;
	margin-top: 13px;
}

#u6256
{
	z-index: 67;
	width: 448px;
	border-style: none;
	background-color: #E6E6E6;
	padding-left: 22px;
	padding-right: 25px;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
}

#whatdoiget
{
	position: relative;
}

#u2883-4
{
	z-index: 127;
	width: 292px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	margin-top: 4px;
	position: relative;
}

#u2867-20
{
	z-index: 77;
	width: 448px;
	min-height: 61px;
	background-color: transparent;
	line-height: 22px;
	margin-top: 20px;
	position: relative;
}

#u2867-9 > li:before
{
	content: '•';
}

#pu5504
{
	width: 0.01px;
	margin-top: 37px;
}

#u5504
{
	z-index: 291;
	width: 136px;
	height: 36px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/buynow%20button%20-%20psd.png") no-repeat left top;
	background-size: contain;
}

#u5504:hover
{
	width: 136px;
	height: 36px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/buynow%20button%20-%20psd-layer%202.png") no-repeat left top;
	background-size: contain;
}

#u5504.MuseLinkActive
{
	width: 136px;
	height: 36px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/buynow%20button%20-%20psd-layer%202.png") no-repeat left top;
	background-size: contain;
}

#u6130
{
	z-index: 327;
	width: 151px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
	background: transparent url("../images/contact%20us%20button%20psd-u6133-fr.png") no-repeat left top;
	background-size: contain;
}

#u6130:hover
{
	width: 151px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/contact%20us%20button%20psd-u6133-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u6130.MuseLinkActive
{
	width: 151px;
	height: 35px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/contact%20us%20button%20psd-u6133-r-fr.png") no-repeat left top;
	background-size: contain;
}

#u4728
{
	z-index: 266;
	overflow: hidden;
	position: relative;
	width: 34px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 904px;
}

#u6250
{
	z-index: 328;
	width: 452px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#pu2910
{
	width: 0.01px;
	margin-top: 16px;
}

#u2910
{
	z-index: 69;
	width: 941px;
	border-style: none;
	border-color: transparent;
	background-color: #FEFFEF;
	padding-left: 19px;
	padding-top: 14px;
	padding-bottom: 19.174181891189846px;
	position: relative;
	margin-right: -10000px;
}

#pu2882-4
{
	width: 0.01px;
	margin-left: 3px;
}

#u2882-4
{
	z-index: 123;
	width: 448px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u5932
{
	z-index: 308;
	width: 29px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 901px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u2881-4
{
	z-index: 105;
	width: 916px;
	min-height: 49px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 3px;
	margin-top: 16px;
	position: relative;
}

#u2889
{
	z-index: 187;
	width: 941px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u2889_img
{
	padding-left: 4px;
	padding-right: 22px;
	padding-bottom: 14px;
}

#howdoesitwork
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 22px;
}

#u5393-4
{
	z-index: 267;
	width: 141px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 790px;
}

#u5394-4
{
	z-index: 271;
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 313px;
	left: 597px;
}

#u5395-4
{
	z-index: 275;
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 285px;
	left: 430px;
}

#u5396-4
{
	z-index: 279;
	width: 78px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 80px;
}

#u5397-4
{
	z-index: 283;
	width: 76px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 477px;
	left: 119px;
}

#u5398-4
{
	z-index: 287;
	width: 89px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
	left: 334px;
}

#pu4718
{
	width: 0.01px;
	margin-top: 17px;
}

#u4718
{
	z-index: 70;
	width: 930px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	position: relative;
	margin-right: -10000px;
	padding: 11px 8px 255.08214756616076px 22px;
}

#pu2871-4
{
	width: 0.01px;
}

#u2871-4
{
	z-index: 115;
	width: 364px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u5937
{
	z-index: 313;
	width: 29px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 902px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#pu2872-56
{
	width: 0.01px;
	margin-top: 20px;
}

#u2872-56
{
	z-index: 131;
	width: 604px;
	border-color: #B6B6B6;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u2872-29 > #u2872-28:before
{
	visibility: hidden;
	counter-increment: list 0;
}

#u2872-18,#u2872-20,#u2872-22,#u2872-24,#u2872-26
{
	line-height: 22px;
}

#pu3782
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 759px;
}

#u3782
{
	z-index: 192;
	width: 156px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: transparent;
	position: relative;
}

#u3782_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u3785-4
{
	z-index: 97;
	width: 151px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u3836
{
	z-index: 194;
	width: 156px;
	-pie-box-shadow: none;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #B6B6B6;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u3839-4
{
	z-index: 101;
	width: 151px;
	min-height: 32px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 6px;
	margin-top: 7px;
	position: relative;
}

#u2868-4
{
	z-index: 109;
	width: 160px;
	min-height: 31px;
	background-color: transparent;
	line-height: 22px;
	margin-left: 183px;
	margin-top: 97px;
	position: relative;
}

#u4224
{
	z-index: 71;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F7FF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1051px;
}

#u4224_position_content
{
	padding-top: 13px;
	padding-bottom: 7px;
}

#u5938
{
	z-index: 314;
	width: 29px;
	height: 27px;
	margin-left: 923px;
	position: relative;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u5938:hover
{
	width: 29px;
	height: 27px;
	min-height: 0px;
	margin: 0px 0px 0px 923px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#u4750
{
	z-index: 76;
	width: 624px;
	background-color: #FFFFFF;
	margin-left: 158px;
	margin-top: 90px;
	position: relative;
}

#u4498-7
{
	z-index: 252;
	width: 292px;
	min-height: 114px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 20px;
}

#u4467
{
	z-index: 201;
	display: block;
	vertical-align: top;
	margin-bottom: -46px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 332px;
}

#u4749
{
	z-index: 74;
	width: 468px;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	margin-left: 470px;
	margin-top: 75px;
	position: relative;
}

#u4495-8
{
	z-index: 218;
	width: 431px;
	min-height: 331px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 20px;
}

#u4748
{
	z-index: 73;
	width: 602px;
	background-color: #FFFFFF;
	margin-left: 158px;
	margin-top: 47px;
	position: relative;
}

#u4493-9
{
	z-index: 209;
	width: 292px;
	min-height: 138px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 20px;
}

#u4483
{
	z-index: 205;
	display: block;
	vertical-align: top;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 332px;
}

#u4720
{
	z-index: 72;
	width: 780px;
	background-color: #FFFFFF;
	margin-left: 158px;
	margin-top: 93px;
	position: relative;
}

#u4442
{
	z-index: 262;
	display: block;
	vertical-align: top;
	margin-bottom: -10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 76px;
}

#u4496-8
{
	z-index: 226;
	width: 423px;
	min-height: 138px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 332px;
}

#u4719
{
	z-index: 234;
	width: 488px;
	background-color: #FFFFFF;
	padding-bottom: 21px;
	margin-left: 158px;
	margin-top: 47px;
	position: relative;
}

#u4497-17
{
	z-index: 235;
	width: 336px;
	min-height: 138px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 20px;
}

#u4498-5,#u4495-4,#u4493-5,#u4496-4,#u4497-5
{
	font-weight: 400;
}

#pu5963-4
{
	width: 0.01px;
	margin-left: 774px;
	margin-top: 492px;
}

#u5963-4
{
	z-index: 323;
	width: 124px;
	min-height: 24px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u5963-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 124px;
	margin: 3px -10000px 0px 0px;
}

#u5855-4:hover p,#u5856-4:hover p,#u5857-4:hover p,#u5858-4:hover p,#u5959-4:hover p,#u5963-4:hover p
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u5962
{
	z-index: 322;
	width: 29px;
	height: 27px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow.png.png") no-repeat left top;
	background-size: contain;
}

#u5932:hover,#u5937:hover,#u5962:hover
{
	width: 29px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/up%20arrow%20psd-up%20arrow%20100-.png.png") no-repeat left top;
	background-size: contain;
}

#products-bottom
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 164px;
}

#u4752
{
	z-index: 75;
	width: 279px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1471px;
	left: 191px;
}

#u4452
{
	z-index: 197;
	display: block;
	vertical-align: top;
	margin-bottom: -58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 45px;
}

#u2869
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 676px;
	left: 22px;
}

#u4227-4
{
	z-index: 119;
	width: 166px;
	min-height: 28px;
	background-color: transparent;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1077px;
	left: 22px;
}

#techspecs
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 23px;
}

#testimonials
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 1051px;
	left: 22px;
}

#u4457
{
	z-index: 199;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1462px;
	left: 22px;
}

#u4475
{
	z-index: 203;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1128px;
	left: 701px;
}

#u4462
{
	z-index: 207;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 1898px;
	left: 704px;
}

#u4505
{
	z-index: 259;
	width: 853px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2942px;
	left: 22px;
}

#u4488
{
	z-index: 260;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2574px;
	left: 554px;
}

#u4447
{
	z-index: 264;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2238px;
	left: 22px;
}

#pu3642-4
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 17px;
}

#u3642-4
{
	z-index: 2;
	width: 88px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u3642-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 88px;
	margin: 12px -10000px 0px 0px;
}

#u4708-4
{
	z-index: 14;
	width: 128px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 127px;
}

#u4708-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 128px;
	margin: 12px -10000px 0px 0px;
}

#u4707-4
{
	z-index: 6;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 289px;
}

#u4707-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#u4707-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#u5998-4
{
	z-index: 10;
	width: 84px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 416px;
}

#u4707-4.MuseLinkActive,#u5998-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 84px;
	margin: 12px -10000px 0px 0px;
}

#u3644-4
{
	z-index: 18;
	width: 156px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 522px;
}

#u3644-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 156px;
	margin: 12px -10000px 0px 0px;
}

#u4537
{
	z-index: 65;
	width: 111px;
	margin-right: -10000px;
	left: 805px;
}

#u115-4
{
	z-index: 24;
	width: 212px;
	min-height: 18px;
	margin-left: 726px;
	margin-top: 3px;
}

body
{
	position: relative;
	min-width: 962px;
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

