.version.ps_thank_you_page /* version checker */
{
	color: #000011;
	background-color: #CD0A5B;
}

.html
{
	background-color: #E7EDE1;
}

#page
{
	z-index: 1;
	width: 916px;
	min-height: 468px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 22px 20px;
}

#pu105
{
	width: 0.01px;
}

#u105
{
	z-index: 2;
	width: 156px;
	margin-right: -10000px;
}

#menuu130
{
	z-index: 12;
	width: 410px;
	margin-right: -10000px;
	margin-top: 26px;
	left: 401px;
}

#u148
{
	width: 81px;
	min-height: 27px;
	margin-right: -10000px;
}

#u151
{
	width: 81px;
	padding-bottom: 5px;
}

#u151:hover
{
	margin: 0px;
}

#u151:active
{
	margin: 0px;
}

#u152-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151:hover #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u152-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u155
{
	width: 103px;
	min-height: 27px;
	margin-right: -10000px;
	left: 83px;
}

#u156
{
	width: 103px;
	padding-bottom: 5px;
}

#u159-4
{
	width: 68px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u151.MuseMenuActive #u152-4,#u156:hover #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u156:active #u159-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	width: 112px;
	min-height: 27px;
	margin-right: -10000px;
	left: 188px;
}

#u623
{
	width: 112px;
	padding-bottom: 5px;
}

#u626-4
{
	width: 77px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u156.MuseMenuActive #u159-4,#u623:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u623:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u180
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 302px;
}

#u183
{
	width: 108px;
	padding-bottom: 5px;
}

#u151.MuseMenuActive,#u156.MuseMenuActive,#u623.MuseMenuActive,#u183.MuseMenuActive
{
	margin: 0px;
}

#u185-4
{
	width: 73px;
	min-height: 22px;
	margin-right: -10000px;
	top: 2px;
	left: 17px;
}

#u623.MuseMenuActive #u626-4,#u183:hover #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183:active #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u183.MuseMenuActive #u185-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u977-4
{
	z-index: 37;
	width: 96px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 820px;
}

#u977-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u977-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 28px -10000px 0px 0px;
}

#u1150-4
{
	z-index: 41;
	width: 448px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #42410B;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 85px;
	position: relative;
}

#u1151-4
{
	z-index: 45;
	width: 448px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #42410B;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 46px;
	position: relative;
}

#u111-4
{
	z-index: 4;
	width: 346px;
	min-height: 22px;
	margin-left: 285px;
	margin-top: 162px;
}

#u115-4
{
	z-index: 8;
	width: 212px;
	min-height: 15px;
	margin-left: 352px;
	margin-top: 18px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

